

@mixin img-position {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin flex-disp-dir {
    display: flex;
    flex-direction: column;
}



//buttons hover color

@mixin light-color($start-color){
    background-color: lighten($start-color, 15%);
    transition: background-color 1s ease-out;
}

//media query


    

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@mixin mq($size) {
    @media (min-width: $size) {
      @content;
    }
  }