//Colors

$white: #fff;
$main-head-color: #58e1c1;
$basic-font-color: #777;
$info-color: #927bc1;
$succes-color: #63cc82;
$default-color: #51ddfc;
$error-color: #e4757a;
$warning-color: #fd7856;

//fonts

$fontstack-primary: 'Lato', sans-serif;

//size

$min-width: 768px;

